version: '3.9'
services:
  dashy:
    image: {{ image_name }}
    container_name: {{ container_name }}
    restart: {{ restart_policy }}
    healthcheck:
      test: ['CMD', 'node', '/app/services/healthcheck']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      UID: 1026
      GID: 100
      NODE_ENV: production
    volumes:
      - "{{ config_file }}:/app/user-data/conf.yml"
      - "{{ icons_path }}:/app/user-data/item-icons:rw"
    ports:
      - "{{ host_port }}:{{ container_port }}"