version: '3.9'
services:
 dashy:
    image: lissy93/dashy:latest
    container_name: Dashy
    restart: on-failure:5
    healthcheck:
      test: ['CMD', 'node', '/app/services/healthcheck']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      UID: 1026
      GID: 100
      NODE_ENV: production
    volumes:
      - /volume1/docker/dashy/dashy_conf.yml:/app/user-data/conf.yml
      - /volume1/docker/dashy/icons:/app/user-data/item-icons:rw
    ports:
      - 7444:8080